<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Expense Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Expense Tracker Web App</h1>

        <h2>Add Expense</h2>

        <form method="post" action="/add">
            <input type="number" name="amount" placeholder="Enter Amount" required>
            <input type="text" name="category" placeholder="Enter Category" required>
            <input type="date" name="date" placeholder="DD-MM-YYYY" required>
            <button type="submit">Add Expense</button>
        </form>

        <h2>All Expenses</h2>
            <ul>
                {% for exp in expenses %}
                <li>
                    ₹{{ exp.amount }} - {{ exp.category }} ({{ exp.date }})
                    <form method="POST" action="/delete" style="display:inline;">
                        <input type="hidden" name="index" value="{{ loop.index0 }}">
                        <button type="submit">Delete</button>
                    </form>
                </li>
                {% endfor %}
            </ul>

            <h2>Total Spending: ₹{{ total }}</h2>
    </body>
</html>